body{
    background-color: burlywood;
}
h2{
    color: coral;
    font-size: 30px;
    -webkit-text-stroke: 0.5px black ;
    text-align: center ;
}
.form1 form{
    display: block;
    background-color: rgba(0, 255, 255, 0.26);
    width: 50%;
  }
  .form2 form{
    display: block;
    background-color: rgba(25, 128, 0, 0.616);
    width: 35%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px solid #000000;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    color: rgb(0, 0, 0);
}